extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Douglas S Hill

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | Just kidding! In all seriousness, I have had many careers in life, and now I am choosing this one. I have been in management in retail, and in the restaurant business, and I have run my own companies, and the companies of others. 
            | Most recently I ran my own garden consulting firm called Binnen Garden Consulting. I have been an AP/AR guy and even a CFO for a retail garden supply chain. Let's Talk!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li Node.js
          li Pug
          li JavaScript
          li JQuery
          li AJAX
          li HTML
          li CSS
          li git
        h6 Contact Info

        
        ul
          li 971-212-3889
          li dohill06@gmail.com

        
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/dohill06') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  